.playername {
  height: 50px;
  width: 250px;
  margin-bottom: 20px;
}

.playername label {
  padding: 2px;
  margin-bottom: 5px;
}

.playername input {
  width: 250px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #00B7FF;
  padding: 2px;
}

.field_validation_danger {
  color: #ff0000;
  font-size: 13px;
}

.field_validation_danger::before {
  content: '* ';
}
