@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  grid-area: header;
  border: 1px solid #000;
  padding: 5px 10px;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 310px 410px 410px;
}

.footer {
  grid-area: footer;
  border: 1px solid #000;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 70px 800px 50px;
  grid-gap: 3px;
  background: #ccc;
  grid-template-areas:
  "header header header header"
  "main main main main"
  "footer footer footer footer";
}

.main--usersList {
  grid-column: 2 / 3;
  padding-left: 10px;
}

.footer--copyright {
  grid-column: 4 / 5;
  place-self: center right;
  margin-right: 10px;
  font-weight: bold;
}
